/* Seção de Estilo */

.style-wrapper {
  label {
    margin-bottom: 0px;
  }
}

.switch-wrapper {
  margin-top: 1.25rem;

  display: flex;
  gap: 0.75rem;
  align-items: center;

  & span {
    color: var(--text-heading);
    font: var(--body-sm);

    &:after {
      content: "Escuro";
    }
  }

  .switch:has(:checked) + span:after {
    content: "Claro";
  }
}

.switch {
  display: flex;
  align-items: center;

  label {
    padding: 0;
    width: 4rem;
    height: 2rem;

    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 999px;

    cursor: pointer;

    position: relative;
    display: flex;
    align-items: center;
  }

  label::before {
    position: absolute;
    content: "";
    background-color: var(--input-stroke);
    width: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 999px;
    margin-inline: 0.25rem;
    transition: transform 0.4s ease;
  }

  input:checked + label {
    background-color: var(--brand-light);
    transition: transform 0.4s ease;
  }

  input:checked + label::before {
    transform: translateX(1.85rem);
    background-color: var(--text-heading);
  }

  & input,
  & input:focus,
  & input:hover {
    all: unset;
  }
}

/* Seção de Termos e Condições */

.checkbox-wrapper {
  & .checkbox {
    position: relative;

    display: flex;
    gap: 0.75rem;

    .checkbox-image {
      flex: 0 0 1rem;
      height: 1rem;

      background-color: var(--input-base);
      border: 1px solid var(--input-stroke);
      border-radius: 4px;
    }

    &:hover {
      .checkbox-image {
        border-color: var(--brand-light);
      }
    }

    &:has(:checked) .checkbox-image {
      background-image: url(../../assets/icons/check.svg);
      background-position: center;
      border-color: var(--brand-light);
    }

    & input {
      cursor: pointer;
    }

    & [type="checkbox"] {
      all: unset;
      position: absolute;
      inset: 0;
      width: 1rem;
    }

    & strong {
      text-decoration: underline;
      color: var(--brand-light);
      font-weight: 500;
      cursor: pointer;
    }
  }
}
